

#box {
    background-color: blue;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
}


.heading {
    color: red;
}


.green-text {
    color: green;
}


.btn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
